<div class="bar">
    <ul class="cat_list">
      <li class="cat_element"><a href="/category/meat"><img src = "photos/icon/meat.svg" height = 20 width = 20>Meat</a></li>
      <li class="cat_element"><a href="/category/seafood"><img src = "photos/icon/seafood.svg" height = 20 width = 20>Seafood</a></li>
      <li class="cat_element"><a href="/category/vegetables"><img src = "photos/icon/veg.svg" height = 20 width = 20>Vegetables</a></li>
      <li class="cat_element"><a href="/category/soup"><img src = "photos/icon/soup.svg" height = 20 width = 20>Soup</a></li>
      <li class="cat_element"><a href="/category/dessert"><img src = "photos/icon/dessert.svg" height = 20 width = 20>Dessert</a></li>
      <li class="cat_element"><a href="/category/others"><img src = "photos/icon/else.svg" height = 20 width = 20>Others</a></li>
    </ul>
</div>