<div class="bar">
    <ul class="cat_list">
      <li class="cat_element"><a href="/category/meat">Meat</a></li>
      <li class="cat_element"><a href="/category/seafood">Seafood</a></li>
      <li class="cat_element"><a href="/category/vegetables">Vegetables</a></li>
      <li class="cat_element"><a href="/category/soup">Soup</a></li>
      <li class="cat_element"><a href="/category/dessert">Dessert</a></li>
      <li class="cat_element"><a href="/category/others">Others</a></li>
    </ul>
  </div>
