<div class="bar">
    <ul class="cat_list">
      <li class="cat_element"><a href="/category/meat"><img src = "Photos/icon/meat.svg" height = 20 width = 20>Meat</a></li>
      <li class="cat_element"><a href="/category/seafood"><img src = "Photos/icon/seafood.svg" height = 20 width = 20>Seafood</a></li>
      <li class="cat_element"><a href="/category/vegetable"><img src = "Photos/icon/veg.svg" height = 20 width = 20>Vegetable</a></li>
      <li class="cat_element"><a href="/category/soup"><img src = "Photos/icon/soup.svg" height = 20 width = 20>Soup</a></li>
      <li class="cat_element"><a href="/category/dessert"><img src = "Photos/icon/dessert.svg" height = 20 width = 20>Dessert</a></li>
      <li class="cat_element"><a href="/category/others"><img src = "Photos/icon/else.svg" height = 20 width = 20>Others</a></li>
    </ul>
</div>
