<button type="button" id="create-recipe-button">+</button>

<div id="modal-backdrop" class="hidden"></div>

  <div id="create-recipe-modal" class="hidden">
    <div class="modal-dialog">
        <div class="modal-header">
          <h3>Create a Recipe</h3>
          <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
          <div class="recipe-input-element">
            <label for="recipe-url-input">Image URL</label>
            <textarea id="recipe-url-input"></textarea>
          </div>
          <div class="recipe-input-element">
            <label for="recipe-ingredient-input">Ingredients</label>
            <textarea id="recipe-ingredient-input"></textarea>
          </div>
          <div class="recipe-input-element">
            <label for="recipe-direction-input">Direction</label>
            <textarea id="recipe-direction-input"></textarea>
          </div>
          <div class="recipe-input-element">
            <label for="recipe-category-input">Category</label>
            <select id="recipe-category-input">
               <option value="Meat">Meat</option>
               <option value="Seafood">Seafood</option>
               <option value="Vegetables">Vegetables</option>
               <option value="Dessert">Dessert</option>
               <option value="Soup">Soup</option>
               <option value="Others">Others</option>
            </select>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="modal-cancel-button">Cancel</button>
          <button type="button" class="modal-accept-button">Create Recipe</button>
        </div>
      </div>
    </div>

    <div class="bar">
        <ul class="cat_list">
          <li class="cat_element"><a href="/category/meat">Meat</a></li>
          <li class="cat_element"><a href="/category/seafood">Seafood</a></li>
          <li class="cat_element"><a href="/category/vegetables">Vegetables</a></li>
          <li class="cat_element"><a href="/category/soup">Soup</a></li>
          <li class="cat_element"><a href="/category/dessert">Dessert</a></li>
          <li class="cat_element"><a href="/category/others">Others</a></li>
        </ul>
      </div>
