<ul class="cat_list">
    <!-- This is the left list for category list-->
    <!-- The link should be add later -->
    <li class="cat_element"><a href="/a">Meat</a></li>
    <li class="cat_element"><a href="/a">Seafood</a></li>
    <li class="cat_element"><a href="/a">Vegetables</a></li>
    <li class="cat_element"><a href="/a">Soup</a></li>
    <li class="cat_element"><a href="/a">Dessert</a></li>
</ul>