<div class="cat_block">
    <!-- This is the block for each main category,
         Such as meat, seafood, veges.... -->
    <h2 class="cat_title">
        Category
    </h2>
    <!-- This is the title for main category -->
    <div class="content_block">
        <ul class="tag_specific">
            {{> Bar}}
        </ul>
    </div>
</div>