<header>
      <h1 class="site-title">Chinese Recipe</h1>
</header>

    <nav class="navbar">
      <ul class="navlist">
        <li class="navitem active"><a href="/">Recommend</a></li>
        <li class="navitem"><a href="/category">Category</a></li>
        <li class="navitem"><a href="/recipes">All Recipes</a></li>
        <li class="navitem navbar-search">
          <input type="text" id="navbar-search-input" placeholder="Search for recipe...">
          <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
        </li>
      </ul>
    </nav>
