<header>
    <h1 class="site-title"><img src = "/Photos/icon/recipe.png" height = 60 width = 60>Chinese Recipe</h1>
</header>

<nav class="navbar">
    <ul class="navlist">

        <!-- send request to server when click -->
        <li class="navitem active"><a href="/">Recommend</a></li>
        <li class="navitem"><a href="/category">Category</a></li>
        <li class="navitem"><a href="/recipes">All Recipes</a></li>
        <li class="navitem navbar-search">

            <input type="text" id="navbar-search-input" placeholder="Search for recipe...">
            <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
        </li>
    </ul>
</nav>

