<!-- Need to pass two argument
     1. photoURL
     2. name
    -->

<div class="link-container">
    <!-- only need one for template -->
    <!-- All others is for test purpose -->
    <div class="linkimg-container">
        <img class="linkimg" src="{{photoURL}}" alt="recipe image" width="300" height="200">
    </div>
    <div class="rec_name_container">
        <p class="linkname">
            {{name}}
        </p>
    </div>
</div>