<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Chinese Recipe</title>

    <link rel="stylesheet" href="/style.css" media="screen">

     <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" defer></script>

    <!--font-family: 'Hind', sans-serif;
        font-family: 'Indie Flower', cursive; -->
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700|Indie+Flower" rel="stylesheet">

    <script src="/index.js" charset="utf-8" defer></script>
  </head>

  <body>



			{{> header}}
				{{{body}}}



  </body>

</html>
