<main class="display_container">
    <!-- This is the main display container, content inside this will
    change for different page. -->

    <div class="notfounded-container hidden">
        <!-- for 404 -->
        <h1>404</h1>
        <h3>We could not find that page.</h3>
    </div>

</main>
