<main class="link-page">
  <div class="link-container">
    <div class="linkimg-container">
      <img class="linkimg" src="https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fcdn-image.foodandwine.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmedium_2x%2Fpublic%2F200911-xl-mama-changs-stir-fried-shrimp-and-scallions.jpg%3Fitok%3DdORctdLA&w=800&q=85" alt="recipe image" width="300" height="200">
    </div>
    <div class="linkname-container">
      <p class="linkname">Stir-Fried Shrimp and Scallions</p>
    </div>
  </div>
</main>

{{> button}}

{{> bar}}
