<main class="display_container">
    <!-- This is the main display container, content inside this will
    change for different page. -->
    <!-- *****************This is the Index page*****************-->

<!-- *****************This is the Category page*****************-->

    <div class="page_container_category">
        <!-- This is what should be shared -->
        <h1 class="category_title">Category</h1>
        <!-- This is the title of the whole page-->
        

        {{> CategoryTemplate}}
        <!-- This is the block template for main category -->


    </div>

</main>