<main class="category-page">
  <div class="category-container">
    <div class="categoryimg-container">
      <img class="categoryimg" src="https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fcdn-image.foodandwine.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmedium_2x%2Fpublic%2F200911-xl-mama-changs-stir-fried-shrimp-and-scallions.jpg%3Fitok%3DdORctdLA&w=800&q=85" alt="category image" width="300" height="200">
    </div>
    <div class="categoryname-container">
      <p class="categoryname">Seafood</p>
    </div>
  </div>
</main>

{{> button}}

{{> bar}}
