 <main class="display_container">
    <!-- This is the main display container, content inside this will
    change for different page. -->
    <!-- *****************This is the Index page*****************-->
 
    <!-- *****************This is the Recipe page*****************-->

    <div class="page_container_recipe">

        <div class="left_bar">
            <!-- This is the category bar on main display page -->
            
            {{> cat_list}}
            <!-- This is the left list for index page-->
            <!-- The link should be add later -->

        </div>

        <article class="recipe">
            <!--This block should be passed with the recipe object, consists by:
            {
                name: a name string,
                photoURL : the url of the image,
                ingredient_list:
                    {
                        elem1,
                        elem2,
                        elem3,
                        elem4,
                        .
                        .
                        .
                        .
                    },
                direction_list:
                    {
                        step1,
                        step2,
                        step3,
                        .
                        .
                        .
                    }
            }
            -->
            {{#each object}}
                {{> single_recipe_template}}
            {{/each}}
        </article>
    </div>

</main>