<main class="recipe-page"> <!-- for detailed recipe>
  <!- only need one for template -->
  <article class="recipe">
    <div class="name-container">
      <h2 class="name">{{name}}</h2>
    </div>
    <div class="img-container">
      <img class="img" src="{{photoURL}}" alt="recipe image" with="600" height="400">
    </div>
    <div class="ingredient-container">
      <h3>Ingredients:</h3>
      <p class="ingredient">{{ingredient}}</p>
    </div>
    <div class="direction-container">
      <h3>Direction:</h3>
      <p class="direction">{{direction}}</p>
    <div>
    </div>
  </article>
</main>

{{> button}}

{{> bar}}
