
     <main class="display_container">
    <!-- This is the main display container, content inside this will
    change for different page. -->
    <!-- *****************This is the Index page*****************-->
 
    <!-- *****************This is the Recipe page*****************-->

    <div class="page_container_recipe">

        <div class="left_bar">
            <!-- This is the category bar on main display page -->
            
            {{> cat_list}}
            <!-- This is the left list for index page-->
            <!-- The link should be add later -->

        </div>

        <article class="recipe">
            <!--This block should be passed with the recipe object -->

            {{> FullRecipe}}

        </article>
    </div>

</main>