body {
  font-family: 'Hind', sans-serif;
  background-color: #F4F5F5;
  margin: 0;
}

header {
  background:linear-gradient(to right,#24FEF6, #24A3FE);
  height: 100px;
  length: auto;
  box-shadow: 2px 2px 2px grey;
}

.site-title {
  margin: 0;
  font-family: 'Indie Flower', cursive;
  color: white;
  font-size: 50px;
  text-shadow: 2px 2px 4px #000000;
  padding-left: 20px;
  padding-top: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}

.navbar {
  position: relative;
  box-shadow: 2px 2px 2px grey;
  position: sticky;
  top: 0;
}

.navitem {
  float: left;
}

.navitem a {
  display: block;
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-search {
  position: absolute;
  right: 10px;
  padding: 14px 16px;
}

.active a {
  font-size: 20px;
}

.navitem a:hover {
  font-size: 20px;
}

.link-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px;
  height:auto;
  width: auto;
}

.link-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 320px;
  height: 250px;
  margin: 20px;
  box-shadow: 2px 2px 2px grey;
}

.link-container:hover{
  cursor:pointer;
}

.linkimg {
  padding: 10px;
  padding-bottom: 2px;
}

.linkname {
  margin : 0;
  font-weight: bold;
  text-align: center;
}

.recipe-page {
  margin: 150px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

#create-recipe-button {
  position: fixed;
  font-size: 50px;
  color: white;
  right: 50px;
  bottom: 50px;
  width: 80px;
  height: 80px;
  background-color: #FFC300;
  border-radius: 40px;
  border: none;
  transition: transform 2s;
}

@keyframes colorChange {
    0% {background-color: #FFC300;}
    100% {background-color: #23E5D2;}
}
#create-recipe-button:hover {
  cursor:pointer;
  background-color: #23E5D2;
  transform: rotate(360deg);
  animation-name: colorChange;
  animation-duration: 2s;
}
